@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #7c3aed; /* Purple 600 */
  --color-primary-hover: #6d28d9; /* Purple 700 */
  --color-primary-light: #ede9fe; /* Purple 100 */
}

@layer base {
  body {
    @apply font-sans text-slate-900 bg-slate-50;
  }
}
